

 <!--Carousel Wrapper-->
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="assets\4.jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="assets\7.jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="assets\3.jpg" alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<Body>
  <div class="testinomials">
    <div class="inner">
      <h1>About us</h1>
      <div class="border">

        <div class="row">
          <div class="col">
            <div class="testinomial">
              <img src="assets\team.png" alt="">
              <div class="name">Who We Are?</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <p>
                  We are the pioneer leaders in the event management area
                </p>
              </div>
            </div>
          </div>

          <div class="col">
              <div class="testinomial">
                <img src="assets\chess.png" alt="">
                <div class="name">Our Mission</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <p>
                    We are the pioneer leaders in the event management area
                  </p>
                </div>
              </div>
            </div>
  
            <div class="col">
                <div class="testinomial">
                  <img src="assets\trophy.png" alt="">
                  <div class="name">Our Vision</div>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <p>
                      We are the pioneer leaders in the event management area
                    </p>
                  </div>
                </div>
              </div>
    
        </div>
      </div>
    </div>
  </div>





  <div class="container-fluid history">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="Second-title">Our Profesional History</h2>
          <p class="Second-paragraph">We have worked with the Project Management Institute Northern 
            Alberta Chapter for over a decade and it’s safe to say we feel like a part of the family.
             From the familiar faces in the crowd of attendees, to the trust built with sponsors and speakers,
             the committee and board can count on us to represent their Chapter and execute a seamless conference!</p>
        </div>
      </div>
    </div>
  </div>  
</Body>



