<div class="container-fluid history">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="Second-title">Events we are taking Care of..</h2>
          </div>
      </div>
    </div>
  </div>  




<!-- News jumbotron -->


<div class="jumbotron text-center hoverable p-4">
    <div class="row">
  
     <div class="col-md-4 offset-md-1 mx-3 my-3">
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src="assets\6.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <div class="col-md-7 text-md-left ml-3 mt-3">

        
  
        <h3 class="h4 mb-4"><strong>Weddings</strong></h3>
  
        <p class="font-weight-normal">Plan anywhere, anytime with our wedding planning tools.
          The ultimate wedding checklist to make sure everything gets done.
            Seamlessly create and manage lists and RSVPs for all your events.
            Seating Chart to Drag and drop from your list to assign each guest a seat.
             Let you manage  the budget to keep your spending on track.
            Quickly find, manage, and message your favorite vendors.
            Easily create a custom wedding websites/facebook events to share with your guests.</p>
        
  
        
  
      </div>
    </div>
    </div>
  

<div class="jumbotron text-center hoverable p-4">
        <div class="row">
      
         <div class="col-md-4 offset-md-1 mx-3 my-3">
            <div class="view overlay waves-light" mdbWavesEffect>
              <img src="assets\9.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
          </div>
          <div class="col-md-7 text-md-left ml-3 mt-3">
    
            
      
            <h4 class="h4 mb-4"> <strong>Exhibitions</strong></h4>
      
            <p class="font-weight-normal">providing full range of exhibition services and solutions, 
              linking suppliers and buyers worldwide by organising, marketing and representing trade 
              events and exhibitions through our Sri Lankan offices.</p>
            
      
            
      
          </div>
        </div>
        </div>
      

<div class="jumbotron text-center hoverable p-4">
            <div class="row">
          
             <div class="col-md-4 offset-md-1 mx-3 my-3">
                <div class="view overlay waves-light" mdbWavesEffect>
                  <img src="assets\1.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
          
              </div>
              <div class="col-md-7 text-md-left ml-3 mt-3">
        
                
          
                <h3 class="h4 mb-4"><Strong>Parties</Strong></h3>
          
                <p class="font-weight-normal">So you've got a milestone birthday or anniversary coming up. 
                    Or maybe you've just moved into your dream home and you want to throw
                     the best of all house-warming parties.Plan it amazingy with our great party planning tools.
                    </p>
                
          
                
          
              </div>
            </div>
            </div>     
            
            <div class="jumbotron text-center hoverable p-4">
                <div class="row">
              
                 <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <div class="view overlay waves-light" mdbWavesEffect>
                      <img src="assets\2.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
              
                  </div>
                  <div class="col-md-7 text-md-left ml-3 mt-3">
            
                    
              
                    <h3 class="h4 mb-4"> <Strong>Concerts</Strong></h3>
              
                    <p class="font-weight-normal">Make your  concert a grand succes  while planning everything perfectly with our concert planning tools
                        including theme programs,narrating,lighting,audio,stage decorations,photography,videography,flows,stage etiquettes,
                        encores etc.</p>
                   
              
                   
              
                  </div>
                  
                </div>
                </div>    
                <div class="jumbotron text-center hoverable p-4">
                    <div class="row">
                  
                     <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <div class="view overlay waves-light" mdbWavesEffect>
                          <img src="assets\10.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                  
                      </div>
                      <div class="col-md-7 text-md-left ml-3 mt-3">
                
                        
                  
                        <h3 class="h4 mb-4"> <Strong>Sports Events </Strong></h3>
                  
                        <p class="font-weight-normal">Plan your sport event with the help of the professionals
                          in the pop network.</p>
                       
                  
                       
                  
                      </div>
                      
                    </div>
                    </div>                