<div class="col">
  <div class="testinomial">
    <img src="assets\chess.png" alt="">
    <button type="button" class="btn btn-secondary btn-lg">Concert</button>
  </div>
</div>

<div class="col">
<div class="testinomial">
    <img src="assets\chess.png" alt="">
    <button type="button" class="btn btn-secondary btn-lg">Wedding</button>
  </div>
</div>
<div class="col">
  <div class="testinomial">
    <img src="assets\chess.png" alt="">
    <button type="button" class="btn btn-secondary btn-lg">Party</button>
  </div>
</div>
<div class="col">
  <div class="testinomial">
    <img src="assets\chess.png" alt="">
    <button type="button" class="btn btn-secondary btn-lg">Exhibition</button>
  </div>
</div>




